.navigation-active{
    width: 100%;
    cursor: pointer;

}
.active{
    color: #333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    
}
.active:hover{
    background: gainsboro;
}