.navigation-all {
    width: 100%;
    position: relative;
    margin-bottom: -11px;
    cursor: pointer;

}

.all {
    color: #333;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.all:hover {
    background: gainsboro;
}

.line {
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    background: #2F80ED;
    position: absolute;
    top: 32px;
    right: 0px;
    border-bottom: 1px;

}