body {
  width: auto;
  height: auto;
}

.container {
  max-width: 610px;
  margin: 0 auto;
  padding: 0 4%;
}

.todo {
  margin: 32px 0 58px;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #bdbdbd;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 4%;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
  }

  .line {
    width: 54px;
    height: 4px;
    right: -17px;
    top: 27px;
  }
}
